$blue: #345ff6;
$darkBlue: #253347;
$darkElectricBlue: #5e6e85;
$lightBlueBackground: #587dff;
$borders: #d8e2e7;
$white: #ffffff;
$blueLight: #d6e6fe;
$greenLight: #d6fcfe1f;

$green: #25a939;
$lightGreen: #39ae4b;
$orange: #d88423;
$lightOrange: #d68b34;
$red: #b71515;
$lightRed: #d24848;
