@mixin styleBox {
  background-color: $white;
  box-shadow: 1px 20px 30px $blueLight;
  border-radius: 20px;
}
@mixin titleBox {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  margin-left: 30px;
  width: 35%;
}
@mixin paragraphBox {
  width: 80%;
  margin: auto;
  line-height: 23px;
  padding-bottom: 20px;
  color: $darkElectricBlue;
}
@mixin title {
  color: $darkBlue;
  letter-spacing: -0.6px;
  font-size: 24px;
  font-weight: 550;
}
@mixin inputStyle {
  font-size: 24px;
  font-weight: 600;
  padding: 20px;
  width: 190px;
  border-radius: 15px;
  border: 1px solid;
  outline-color: $blue;
  border-color: $borders;
  color: $darkBlue;
  &::-webkit-inner-spin-button {
    display: none;
  }
}
@mixin labelStyle {
  color: $darkElectricBlue;
  font-size: 14px;
  margin-bottom: 10px;
}
@mixin unit {
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  color: $blue;
  top: 20px;
}
